[Desktop Entry]
Name=XMonad
Comment=Custom Xmonad
Type=Application
Exec=@out@/bin/mywm --replace
Terminal=false
Categories=Graphics;
Keywords=XMonad;
